.gradient-custom-2 {
  /* Replace gradient with image */
  background-image: url('/ivs/src/images/bg4.jpg'); /* 🔁 Put your image path here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Optional fallback background color */
  background-color: #fccb90;
}

@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

         .login-btn {background-image: linear-gradient(to right, #4AC29A 0%, #BDFFF3  51%, #4AC29A  100%)}
         .login-btn {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .login-btn:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         